* {
   text-align: center;
}

body {
   background-color: #222;
}

.heading {
   font-family: Arial;
   margin-top:40vh;
   color: rgb(214, 214, 214);

   svg {
      vertical-align: middle;
      margin-left: 0.2rem;
      transform: scale(1.2)
   }
}

.URL-input, .convert-button {
   font-size: 1.3em;
   padding:10px 10px;
}
.URL-input {
   border-radius:4px 0px 0px 4px;
   width:30em;
   text-align: left;
   border:2px solid #EEEEEE;
   background: #EEEEEE;
   outline:none;
}
.URL-input:focus {
   border:2px solid #0485ff;
}
.convert-button {
   border-radius:0px 4px 4px 0px;
   border:2px solid #0485ff;
   background: #0485ff;
   color:white;
}